<main class="main">
  <div class="sidebar">
    <h1>GifsApp</h1>
    <ul>
      <li *ngFor="let query of searchHistory" (click)="searchGifs(query)">{{ query }}</li>
    </ul>
  </div>
  
  <div class="content">
    <div class="search-bar">
      <input type="text" placeholder="Buscar GIFs" class="search-input" #searchQuery (keyup.enter)="searchGifs(searchQuery.value)">
      
      <button type="button" class="search-button" (click)="searchGifs(searchQuery.value)">Buscar</button>
    </div>
    

    <div class="gif-container">
      <div *ngFor="let gif of gifs" class="gif-item" (mouseenter)="onHover()" (mouseleave)="onHoverExit()">
        <img [src]="gif.images.downsized.url" alt="GIF" class="gif-img">
        <p class="gif-item__text">{{ gif.title }}</p>
      </div>
      
    </div>
  </div>
</main>

<router-outlet />
